<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        p {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="container text-center">
        <h1 class="title">Web Developer: Om Shivam Panda</h1>
        <h2>About Website</h2>
        <p>
            This website is a very cool website where you can choose what characters and what types of characters you want in your password and the website will create a random password with those requirements.
        </p>
        <a href="/" class="btn btn-warning">Back</a>
    </div>
</body>

</html>